.v-input__slot {
  min-height: 36px!important;
  height: 36px!important;
  border: 1px solid #e0e4e4!important;
}
.v-select__selection.v-select__selection--comma {
  font-size: 14px;
}
.v-input__append-inner{
  margin-top: 5px!important;
  i{
    color: #333333!important;
  }
}