<template>
    <div class="background-changer pull-right" data-id="background-changer">
        <b class="pull-left">Zmień tło:</b>

        <ul class="colors-list list-inline pull-left">
            <template v-for="( bg, index) in list">
                <li :class="[{active: bg.name === active}, `${bg.name}`]"
                    :key="index" @click="$emit('changeBackground', bg)">
                </li>
            </template>
        </ul>
    </div>
</template>

<script>
    export default {
        props: {
            list: {
                default: () => ([]),
                type: Array
            },
            active: {
                default: '',
                type: String
            }
        }
    }
</script>