<template>
    <div class="panel-body">
        <p>
            To jest kreator wizytówki Twojego profilu w serwisie ZnanyLekarz.pl. Możesz ją w łatwy sposób zamieścić na swojej stronie internetowej.</p>


        <form action="#" id="widget-form">

            <h3 class="h5">Wyszukaj lub podaj adres do swojego profilu</h3>

            <div class="form-group"
                 :style="{position: 'relative'}"
                 v-click-outside="handleClickOutside">
                <input type="text"
                       name="widget-url"
                       id="widget-url" value=""
                       class="form-control"
                       v-model="search"
                       @focus="magic_flag = true"
                       autocomplete="off"
                       autofocus>
                <ul class="typeahead dropdown-menu"
                    v-if="magic_flag"
                    :style="{display: doctorsResults.length ? 'block': 'none'}">
                    <template v-for="(doctor, index) in doctorsResults">
                        <zn-doctor-form-item
                                @click.native="handleSelectDoctor(doctor)"
                                :name="doctor.fullname_formatted"
                                :url="doctor.image_micro_square"
                                :key="index">
                        </zn-doctor-form-item>
                    </template>
                </ul>
            </div>

            <v-select
                    v-if="selectedDoctor"
                    :items="widgets"
                    v-model="selectedWidget"
                    label="Wybierz typ widgetu"
                    item-text="name"
                    @change="handleSelectWidget"
                    return-object
                    single-line
                    outline>
            </v-select>

            <div class="options hide">
                <div class="radio">
                    <label>
                        <input type="radio" name="widget-option" value="widget-opinion" checked="checked">
                        Pokaż ostatnią <strong>pozytywną</strong> opinię
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="widget-option" value="widget-visits">
                        Pokaż wolne terminy
                    </label>
                </div>
            </div>

            <hr/>

            <a href="#" id="widget-get-code" class="btn btn-primary btn-lg "
               @click.self="generateWidget()"
               :class="{'disabled': !selectedWidget && !selectedDoctor}">
                <i class="svg-icon svg-icon__magic-wand svg-icon__size-20 svg-icon__color-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M22.057 8.307l-1.902-1.902.963-2.889c.059-.18.013-.377-.121-.512-.135-.135-.332-.181-.512-.119l-2.889.961-1.902-1.902c-.15-.15-.379-.189-.57-.098-.191.094-.305.295-.281.506l.317 2.852-2.892 1.606c-.181.101-.281.302-.252.507s.182.371.383.418l1.994.459-12.1 12.1c-.391.391-.391 1.023 0 1.414.195.194.451.292.707.292s.512-.098.707-.293l12.1-12.098.459 1.992c.047.201.212.354.418.383l.07.006c.18 0 .348-.097.437-.258l1.606-2.893 2.852.318c.213.023.413-.09.506-.281.091-.19.052-.419-.098-.569z"/>
                    </svg>
                </i> Wygeneruj kod
            </a>
            <div class="form-group" :class="{'hide': !generatedScript}" id="widget-code">
                <label>Skopiuj i wklej poniższy kod na swoją stronę</label>
                <textarea name="widget-code" rows="10" class="form-control" v-model="generatedScript"></textarea>
            </div>

        </form>
    </div>
</template>

<script>
    import DoctorFormItem from './DoctorFormItem.vue'
    import ClickOutside from 'vue-click-outside'

    export default {
        components: {
            'zn-doctor-form-item': DoctorFormItem,
        },
        props: {
            doctorsResults: {
                default: () => ([]),
                type: Array
            },
            widgets: {
                default: () => ([]),
                type: Array
            }
        },



        data: () => ({
            search: null,
            selectedDoctor: null,
            selectedWidget: null,
            generatedScript: null,
            magic_flag: false,
        }),

        methods: {
            handleSelectDoctor(doctor) {
                const { url }  = doctor
                this.search = url;
                this.magic_flag = false;
                this.selectedDoctor = doctor;
                this.handleSelectWidget(this.widgets[0])
            },

            handleClickOutside() {
                this.magic_flag = false
            },

            handleSelectWidget(event) {
                this.selectedWidget = event
                const { urlname } = this.selectedDoctor;
                const { link, height, type } = this.selectedWidget.generateWidgetLink({ urlname });
                this.$emit('generateLink', { link, height, type })
            },

            generateWidget() {
                const { url, urlname, name, surname } = this.selectedDoctor;
                const script = this.selectedWidget.generateWidgetScript({ url, urlname, name, surname });
                this.generatedScript = script
            }
        },

        watch: {
            search: function (word) {
                this.$emit('onSearchChange', word)
            },
        },

        directives: {
            ClickOutside
        }
    }
</script>