<template>
    <li>
        <a href="#">
            <div class="livesearch-record clearfix doctors">
                <div class="left-content pull-left">
                    <i class="avatar avatar-xs">
                        <img :src="url" alt="">
                    </i>
                    {{name}}
                </div>
            </div>
        </a>
    </li>
</template>

<script>
    export default {
        props: {
            name: {
                default: null,
                type: String
            },
            url: {
                default: null,
                type: String
            }
        }
    }
</script>