<template>
    <section>
        <h2 class="h4">{{title}}</h2>
        <div class="row">
            <div class="col-md-5 ">
                <div class="row">
                    <div class="col-md-12">

                        <section class="panel panel-default">
                            <slot name="form"></slot>
                        </section>

                        <slot name="backgroundSwitcher"></slot>

                    </div>
                </div>

            </div>
            <div class="col-md-7 preview-area">	<div id="widget-preview">
                <slot name="widget"></slot>
            </div>
                <div class="bottom-decors"></div>
            </div>
        </div>
    </section>
</template>


<script>
    export default {
        props: {
            title: {
                default: '',
                type: String,
            }
        }
    }
</script>