<template>
    <v-app :class="$style.app">
        <zn-configurator-layout :title="'Stwórz swoją wizytówkę'">
            <zn-configurator-form
                    @onSearchChange="handleSearch($event)"
                    @generateLink="handleGenerateLink($event)"
                    :widgets="widgets"
                    :doctorsResults="doctorsResults"
                    slot="form"></zn-configurator-form>
            <zn-background-switcher
                    slot="backgroundSwitcher"
                    @changeBackground="handleChangeBackground($event)"
                    :active="activeBackground"
                    :list="background">
            </zn-background-switcher>
            <div slot="widget">
                <iframe v-if="widget" frameborder="0"
                        @load="handleLoadFrame"
                        :class="frameClasses"
                        :style="{height: `${widget.height}px`}"
                        id="widget-preview-iframe" :src="widget.link">
                </iframe>
                <zn-loader-icon v-if="loading.frame"></zn-loader-icon>
            </div>
        </zn-configurator-layout>
    </v-app>
</template>

<script>
    import BackgroundSwitcher from '@/components/BackgroundSwitcher.vue'
    import Layout from '@/components/Layout.vue'
    import ConfiguratorForm from '@/components/ConfiguratorForm.vue'
    import background from '@/viewModels/background.view-model'
    import widgets from '@/viewModels/widget.view-model'
    import DoctorsService from '@/services/doctors.service'

    export default {
        components: {
            'zn-background-switcher': BackgroundSwitcher,
            'zn-configurator-layout': Layout,
            'zn-configurator-form': ConfiguratorForm
        },

        data: () => ({
            background: background,
            widgets: widgets,
            activeBackground: background[0].name,
            doctorsResults: [],
            widget: null,
            loading: {
                frame: false
            }
        }),

        computed: {
            frameClasses() {
                return {
                    [this.widget.type]: true,
                    [this.$style.frameLoading]: this.loading.frame,
                }
            }
        },

        methods: {
            handleChangeBackground({color, image, name}) {
                document.body.style.transition = '0.3s'
                document.body.style.backgroundColor = color;
                document.body.style.backgroundImage = image ? `url(${image})` : 'none';
                this.activeBackground = name
            },

            async handleSearch(search) {
                if (!search.length) {
                    this.doctorsResults = []
                    return
                }
                this.doctorsResults = await DoctorsService.searchDoctors({ query: search });
            },

            handleGenerateLink({link, height, type}) {
                this.loading = {...this.loading, frame: true}
                this.widget = {link, height, type};
            },

            handleLoadFrame() {
                this.loading = {...this.loading, frame: false}
            }
        }
    }
</script>

<style lang="scss" module>
    .app {
        background-color: transparent !important;
    }
    .frameLoading {
        height: 0!important;
        overflow: hidden;
    }
</style>
